* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout general */
.contenedor {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;  
}

.izquierdo, .derecho {
    width: 20%;
    position: relative;  
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 10px;
}

.central {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
}


.nueva_publicacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 7px 5px rgba(128, 128, 128, 0.616), 3px 3px rgba(128, 128, 128, 0.616) inset;
    border-radius: 15px;
    gap: 20px;
}

.nueva_publicacion input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px ridge rgba(128, 128, 128, 0.616);
    border-radius: 15px;
}

.nueva_publicacion input:focus {
    border: 2px solid #9b3a3a;
    outline: none;
}

.nueva_publicacion button {
    padding: 10px;
    background-image: linear-gradient(to right, #9b3a3a, #ce6565, #9b3a3a);
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
    align-self: self-end;
}

.segundo {
    height: 150px;
}

/* Publicaciones */
.publicacion {
    box-shadow: 7px 5px rgba(128, 128, 128, 0.616), 3px 3px rgba(128, 128, 128, 0.616) inset;
    border: 2px ridge rgba(128, 128, 128, 0.616);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera h1 {
    margin: 0;
    font-size: 20px;
}

.cabecera .fecha {
    font-size: 0.9em;
    color: gray;
    margin: 0;
}

/* Ajuste de las cajas de datos personales y biografía */
.relleno, .relleno-2 {
    box-shadow: 7px 5px rgba(128, 128, 128, 0.616), 3px 3px rgba(128, 128, 128, 0.616) inset;
    border: 2px ridge rgba(128, 128, 128, 0.616);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Cajas laterales */
.izquierdo .relleno, .derecho .relleno {
    box-shadow: 7px 5px rgba(128, 128, 128, 0.616), 3px 3px rgba(128, 128, 128, 0.616) inset;
    border: 2px ridge rgba(128, 128, 128, 0.616);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.acciones {
    margin-top: 40px;
}

.boton-editar, .boton-eliminar {
    margin: 15px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(to right, #9b3a3a, #ce6565, #9b3a3a);
}
