<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Eventos</title>
        <link rel="stylesheet" href="../static/style/css/eventos.css">
    </head>
    
    <body>

    <h1 class="contenedor">
        EVENTOS
    </h1>
    <div class="contenedorsubtitulos">
        <h2 class="subtitulo">
            Eventos en tu zona
        </h2>
        <h2 class="subtitulo">
            Eventos en la provincia
        </h2>
    </div>
    <div class="contenedoreventos">
        <article class="contenido uno">
            <h3>Eventos en general 1</h3>
                <img src="/static/image/mapaMAIPU.jpg" alt="Imagen de prueba" class="imagen">
            </p>
        </article>
    
        <article class="contenido dos">
            <h3>Eventos en general 2</h3>
                <img src="/static/image/mapaGUAYMALLEN.jpg" alt="Imagen de prueba" class="imagen">
            </p>
        </article>
    
        <article class="contenido tres">
            <h3>Eventos en general 3</h3>
                <img src="/static/image/mapaGC.jpg" alt="Imagen de prueba" class="imagen">
            </p>
        </article>

        <article class="contenido cuatro">
            <h3>Eventos en general 4</h3>
                <img src="/static/image/mapaMZA.jpg" alt="Imagen de prueba" class="imagen">
            </p>
        </article>

    </div>

</body>
</html>
