<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/css/index.css">
    <title>Perfil</title>
</head>
<body>
    <div class="contenedor"><!-- Display flex -->
        <!-- Columna izquierda fija -->
        <aside class="contenedores izquierdo">
            <div class="caja-principal"><!-- Display flex -->
                <a href=""></a>
                <div class="relleno">Relleno 1
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae deleniti expedita natus excepturi numquam iure reprehenderit harum dicta quos, provident </p>
                </div>
                <div class="relleno">Relleno 2
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius iste, aut natus omnis officiis facilis iusto voluptatem. Obcaecati asperiores, n</p>
                </div>
                <div class="relleno">Relleno 3
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto tenetur, vero ad facere, aliquam nihil quos dolores quisquam, tempora accusantium numquam perspiciatis!!</p>
                </div>
            </div>
        </aside>

        <!-- Contenido central -->
        <div class="contenedores central">
            <!-- Publicación 1 -->
            <section class="publicacion">
                <h1>Parte Central</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam maxime id laboriosam, praesentium soluta voluptate in illo quam rerum consequatur dolore similique porro rem? Provident molestiae aliquid soluta iste corporis.</p>
                <img src="../static/image/messi.jpg" alt="Probando Foto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam maxime id laboriosam, praesentium soluta voluptate in illo quam rerum consequatur dolore similique porro rem? Provident molestiae aliquid soluta iste corporis.</p>
            </section>

            <!-- Publicación 2 -->
            <section class="publicacion">
                <h1>Parte Central</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam maxime id laboriosam, praesentium soluta voluptate in illo quam rerum consequatur dolore similique porro rem? Provident molestiae aliquid soluta iste corporis.</p>
                <img src="../static/image/messi.jpg" alt="Probando Foto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam maxime id laboriosam, praesentium soluta voluptate in illo quam rerum consequatur dolore similique porro rem? Provident molestiae aliquid soluta iste corporis.</p>
            </section>

            <!-- Publicación 3 -->
            <section class="publicacion">
                <h1>Parte Central</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam maxime id laboriosam, praesentium soluta voluptate in illo quam rerum consequatur dolore similique porro rem? Provident molestiae aliquid soluta iste corporis.</p>
                <img src="../static/image/messi.jpg" alt="Probando Foto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam maxime id laboriosam, praesentium soluta voluptate in illo quam rerum consequatur dolore similique porro rem? Provident molestiae aliquid soluta iste corporis.</p>
            </section>
        </div>
        

        <!-- Columna derecha fija -->
        <aside class="contenedores derecho">
            <div class="caja-principal">
                <div class="relleno">Relleno A
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore delectus nobis aut laudantium quis, eveniet suscipit iste eos error a</p>
                </div>
                <div class="relleno">Relleno B
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsa eligendi illo minima? Perferendis, quidem totam minus odit asperiores beatae labore,</p>
                </div>
                <div class="relleno">Relleno C
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos iste, nobis consequatur aspernatur accusantium consequuntur itaque, aut recusandae deserunt voluptates, praesen</p>
                </div>
            </div>
        </aside>
    </div>
</body>
</html>
