<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/css/layout_navbar.css">
    
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">VinoVerse</div>
        <ul class="nav-links">
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/resenia">Reseñas</a></li>
            <li><a href="/experiencias">Experiencias</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/galeria">Galeria</a></li>
        </ul>
        <input type="text" class="search-bar" placeholder="Buscar">
    </nav>
</body>
</html>

